<%- include('../partials/header', { title: t('app.name') }) %>
<div class="container">
  <section class="hero">
    <h1><%= t('app.name') %></h1>
    <p><%= t('app.tagline') %></p>
  </section>
</div>
<%- include('../partials/footer') %>
